---
import type { CollectionEntry } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getPostUrl } from "@/utils/getPostPaths";
import { toTransitionName } from "@/utils/toTransitionName";
import Datetime from "./Datetime.astro";
import IconCategory from "@/assets/icons/IconCategory.svg";
import config from "@/config";

type Props = {
  variant?: "h2" | "h3";
} & CollectionEntry<"posts">;

const { variant: Heading = "h2", id, data, filePath } = Astro.props;

const { title, description, category, ...props } = data;
const locale = Astro.currentLocale ?? config.site.lang;
---

<li class="my-6">
  <a
    href={getPostUrl(id, filePath, Astro.currentLocale)}
    class:list={[
      "text-accent inline-block text-lg font-medium",
      "decoration-dashed underline-offset-4 hover:underline",
      "focus-visible:no-underline focus-visible:underline-offset-0",
    ]}
  >
    <Heading transition:name={toTransitionName(title)}>
      {title}
    </Heading>
  </a>
  <div class="flex flex-wrap items-center gap-x-3 gap-y-1">
    <Datetime {...props} />
    {
      category && (
        <a
          href={getRelativeLocaleUrl(locale, `categories/${category}/`)}
          class="text-muted-foreground hover:text-accent flex items-center gap-1 text-sm"
        >
          <IconCategory class="inline-block size-6 min-w-5.5 scale-90" />
          {category}
        </a>
      )
    }
  </div>
  <p>{description}</p>
</li>
